body {
  text-align: center;
}

#listContainer {
  display: inline-flex;
}

.listItems{
  text-align: left;
}

.listHeader{
  text-align: center;
  margin: 20px;
}

ul{
  list-style-type: none;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}