#container2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-areas: 'header header header' */
}

#listHeader{
    background-color: rgb(129, 245, 154);
}

#listHeader2{
    background-color: rgb(190, 248, 202);
}

#createBox{
    border-radius: 12px;
    background-color: rgb(232, 248, 186);
    display: inline-block;
    margin: 8px;
    margin-bottom: 25px;
    height: fit-content;
}

#lifoBox{
    border-radius: 12px;
    background-color: rgb(243, 228, 201);
    display: inline-block;
    margin: 8px;
    margin-bottom: 25px;
    margin-left: 25px;
    height: 550px;
    overflow-y: auto;
}

#fifoBox{
    border-radius: 12px;
    background-color: rgb(201, 243, 236);
    display: inline-block;
    margin: 8px;
    margin-bottom: 25px;
    margin-right: 25px;
}

.labelz{
    width: 70px;
    padding: 8px;
    text-align: left;
}

.inputz{
    margin: 8px;
}

.textareaz{
    margin: 8px;
    margin-right: 15px;
    vertical-align: middle;
    min-height: 150px;
    min-width: 200px;
}

.buttonz{
    padding: 5px;
    margin: 8px;
    margin-bottom: 15px;
}

.olz{
    list-style-position: inside;
}

.liz{
    padding: 10px;
}