.wrapper {
    display: grid;
    grid-template-columns: auto auto;
}

#title {
    text-align: center;
    background-color: rgb(253, 239, 242);
    max-width: 300px;
    border-radius: 15px;
    margin: 10px auto;
}

#title2 {
    text-align: center;
    background-color: rgb(253, 246, 248);
    max-width: 300px;
    border-radius: 15px;
    margin: 10px auto;
    min-width: 220px;
}

.leftContainer {
    background-color: rgb(253, 213, 219);
    overflow-y: scroll;
    border-radius: 15px;
    margin: 10px;
    min-width: 420px;
}

.rightContainer {
    background-color: rgb(253, 213, 219);
    border-radius: 15px;
    text-align: center;
    margin: 10px;
    padding: 15px;
}

#messageArea {
    font-weight: bold;
    padding-top: 16px;
}

#createBtn {
    background: rgb(253, 246, 248);
    border-radius: 11px;
    padding: 15px;
    border: none;
    color: black;
    display: inline-block;
    font-weight: bold;
    text-align: center;
}

.cardDiv {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

#card {
    margin: 10px;
    border-radius: 15px;
    text-align: center;
    min-width: 230px;
    /* border: none; */
}

.noSpace {
    margin: 0;
    padding: 5;
}

#aBox {
    text-align: center;
    border-radius: 15px;
    margin: 10px;
}